:root {font-size: 62.5%;}
*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, a, ul {
    /* font-size: 1em; */
    font-weight: normal;
}

a{text-decoration: none;}
li{list-style: none;}
code {font-family:open;}
img{display: block; width: 100%;}

.bloco-A{
    /*  */
    width: 100%;
    display: block;
    /*  */
    padding: 2em 0;
    background: #eee;
    margin: 1em 0;
}

.container{
    font-size: 2em;    
    background: lightblue;
    border: 1px solid;
}

[class^="grid-"] {
    background: #c1c1c1;    
    border: 1px solid blue;
}




/* Layout System */
.container{
    max-width: 1200px;
    /* margin: 0 auto; ESTE É O PADÃO ORIGINAL*/
    margin: 20px auto; 
}

.dflex{ display: flex; flex-wrap: wrap; }
.nowrap{flex-wrap: nowrap;}
.wrap{flex-wrap: wrap;}
.flex-column{
    display: flex;
    flex-direction: column;    
}
.flexcontent-sa{justify-content: space-around;}
.flexcontent-sb{justify-content: space-between;}
.flexcontent-se{justify-content: space-evenly;}
.flexcontent-center{justify-content: center;}
.itemflex-end{align-self: flex-end;}
.itemflex-center{align-self: center;}
.itemflex-start{align-self: flex-start;}
.itemflex-baseline{align-self:baseline;}
.end-flex{
    justify-content: flex-end;
    align-items: flex-end;
}
.central-flex{justify-content: center; align-items: center;}

.subflex{
    display: flex;        
    margin-left: -10px;
    margin-right: -10px;
}


.grid-1 {width: calc(8.33333% - 20px);}
.grid-2 {width: calc(16.66667% - 20px);}
.grid-3 {width: calc(25% - 20px);}
.grid-4 {width: calc(33.33333% - 20px);}
.grid-5 {width: calc(41.66667% - 20px);}
.grid-6 {width: calc(50% - 20px);}
.grid-7 {width: calc(58.33333% - 20px);}
.grid-8 {width: calc(66.66667% - 20px);}
.grid-9 {width: calc(75% - 20px);}
.grid-10 {width: calc(83.33333% - 20px);}
.grid-11 {width: calc(91.66667% - 20px);}
.grid-12 {width: calc(100% - 20px);}

[class^="grid-"] {
    /* margin: 0 10px;  ESTE É O PADÃO ORIGINAL*/
    margin: 10px;
}

.offset-1 {margin-left: calc(8.33333% + 10px);}
.offset-2 {margin-left: calc(16.66667% + 10px);}
.offset-3 {margin-left: calc(25% + 10px);}
.offset-4 {margin-left: calc(33.33333% + 10px);}
.offset-5 {margin-left: calc(41.66667% + 10px);}
.offset-6 {margin-left: calc(50% + 10px);}
.offset-7 {margin-left: calc(58.33333% + 10px);}
.offset-8 {margin-left: calc(66.66667% + 10px);}
.offset-9 {margin-left: calc(75% + 10px);}
.offset-10 {margin-left: calc(83.33333% + 10px);}
.offset-11 {margin-left: calc(91.66667% + 10px);}
.offset-12 {margin-left: calc(100% + 10px);}



@media screen and (min-width: 960px) and (max-width: 1199px) {
    .container {max-width: 960px;}
}
  
@media screen and (min-width: 768px) and (max-width: 959px) {
    .container {max-width: 768px;}
    [class^="grid-"] {width: calc(50% - 20px);}
}

@media screen and (max-width: 767px) {
    .offset-1, .offset-2, .offset-3, 
    .offset-4, .offset-5, .offset-6, 
    .offset-7, .offset-8, .offset-9, 
    .offset-10, .offset-11, .offset-12 {margin-left: 10px;}

    .container {max-width: 480px;}

    [class^="grid-"] {width: 100%;}

    .flex-column{
        flex-direction: inherit; /*correção de bug */         
    }
}

